<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <title>DishCovery Site</title>
</head>
<body>
  <nav>
    <div class="logo">
      <h4>DishCovery</h4>
    </div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Favorite</a></li>
      <li><a href="https://github.com/faisal-fiqri">About Us</a></li>
    </ul>

    <div class="menu-toggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Many Dish To Discover</h1>
    </div>
  </div>
  <main>
    <section class="content">
      <div class="latest">
        <h1 class="latest__label">Lets Dishcover</h1>
        <div class="restos">
          <article class="resto-item">
            <img class="resto-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/41"
                 alt="Gambar Bring Your Phone Cafe">
            <div class="resto-item__content">
              <p class="resto-item__date">Medan</p>
              <h1 class="resto-item__title"><a href="#">Bring Your Phone Cafe</a></h1>
              <p class="resto-item__description">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.",
              </p>
            </div>
            <div class="rating">
                <p>RATING : 4.6</p>
            </div>
          </article>
          <article class="resto-item">
            <img class="resto-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/07"
                 alt="Run The Gun">
            <div class="resto-item__content">
              <p class="resto-item__date">Bali</p>
              <h1 class="resto-item__title"><a href="#">Run The Gun</a></h1>
              <p class="resto-item__description">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.",
              </p>
            </div>
            <div class="rating">
              <p>RATING : 4.6</p>
          </div>
          </article>
          <article class="resto-item">
            <img class="resto-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/29"
                 alt="Gambar Pangsit Express">
            <div class="resto-item__content">
              <p class="resto-item__date">Ternate</p>
              <h1 class="resto-item__title"><a href="#">Pangsit Express</a></h1>
              <p class="resto-item__description">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.",
              </p>
            </div>
            <div class="rating">
              <p>RATING : 4.8</p>
          </div>
          </article>
          <article class="resto-item">
            <img class="resto-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/38"
                 alt="Gambar Ducky Duck">
            <div class="resto-item__content">
              <p class="resto-item__date">Malang</p>
              <h1 class="resto-item__title"><a href="#">Ducky Duck</a></h1>
              <p class="resto-item__description">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.",
              </p>
            </div>
            <div class="rating">
              <p>RATING : 4.7</p>
          </div>
          </article>
          <article class="resto-item">
            <img class="resto-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/40"
                 alt="Gambar Bring Your Phone Cafe">
            <div class="resto-item__content">
              <p class="resto-item__date">Bali</p>
              <h1 class="resto-item__title"><a href="#">Kafein</a></h1>
              <p class="resto-item__description">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.",
              </p>
            </div>
            <div class="rating">
              <p>RATING : 3.8</p>
          </div>
          </article>
          <article class="resto-item">
            <img class="resto-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/08"
                 alt="Gambar Bring Your Phone Cafe">
            <div class="resto-item__content">
              <p class="resto-item__date">Malang</p>
              <h1 class="resto-item__title"><a href="#">Makan Mudah</a></h1>
              <p class="resto-item__description">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.",
              </p>
            </div>
            <div class="rating">
              <p>RATING : 4.6</p>
          </div>
          </article>
          <article class="resto-item">
            <img class="resto-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/32"
                 alt="Gambar Bring Your Phone Cafe">
            <div class="resto-item__content">
              <p class="resto-item__date">Surabaya </p>
              <h1 class="resto-item__title"><a href="#">Saya Suka</a></h1>
              <p class="resto-item__description">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.",
              </p>
            </div>
            <div class="rating">
              <p>RATING : 3.8</p>
          </div>
          </article>
          <article class="resto-item">
            <img class="resto-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/45"
                 alt="Gambar Bring Your Phone Cafe">
            <div class="resto-item__content">
              <p class="resto-item__date">Aceh</p>
              <h1 class="resto-item__title"><a href="#">Gigitan Cepat</a></h1>
              <p class="resto-item__description">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.",
              </p>
            </div>
            <div class="rating">
              <p>RATING : 4</p>
          </div>
          </article>
          <article class="resto-item">
            <img class="resto-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/41"
                 alt="Gambar Bring Your Phone Cafe">
            <div class="resto-item__content">
              <p class="resto-item__date">Malang</p>
              <h1 class="resto-item__title"><a href="#">Fairy Cafe</a></h1>
              <p class="resto-item__description">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.",
              </p>
            </div>
            <div class="rating">
              <p>RATING : 3.9</p>
          </div>
          </article>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <h2>DishCovery</h2>
    <p class="foot-text">Submission Modul Aksesibilitas - Menjadi Front-End Developer Expert © 2023 - Dicoding Indonesia</p>
</footer>
<script>
  const menuToggle = document.querySelector('.menu-toggle input');
  const nav = document.querySelector('nav ul')

  menuToggle.addEventListener('click', function(){
    nav.classList.toggle('slide');
  })
</script>
</body>
</html>
